.backgroundContact {
  padding: 10px;
}

.ContactDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
}

@media (max-width: 600px) {
  .contactBox,
  .imgBoxContact {
    flex: 50%;
  }
  .backgroundContact {
    padding: 2px;
  }
}

.imgBoxContact {
  flex: 40%;
}

.imgLogoContact {
  float: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

.contactBox {
  flex: 40%;
  justify-content: flex-start;
  text-align: center;
  padding: 0px;
  background: #e8c07a60;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 2px auto;
  max-width: 1000px;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
  min-height: 450px;
  margin-bottom: 100px;
}

.ContactDivCont1 {
  flex: 40%;
}

.ContactDivCont2 {
  flex: 40%;
  background: #e8c07a60;
  padding-left: 5px;
}

@media (max-width: 800px) {
  .ContactDivCont1,
  .ContactDivCont2 {
    flex: 100%;
  }
  .contactContainer {
    width: 100%;
  }
}

.Contacth1 {
  text-align: center;
  font-size: 26px;
}
