.backgroundProfile {
  margin-bottom: 100px;
}

.logProfile {
  margin: 0 auto;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
  margin: 10px 0 10px;
}

.ProfileBox {
  padding: 2px;
  background: #e8c07a60;
}
