
.regBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  margin-top: 1rem;

}


.regSection {
    
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;

    opacity: 98%;
    border-radius: 20px;

}

.regSuccses {
    width: 100%;
    max-width: 420px;
    min-height: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background: var(--gray-color);
    opacity: 89%;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

 
p {
    margin-bottom: 0.8rem;
}


label {
    color: #000;
   
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.regBtn {
    font-weight: 700;
    font-family: 'Arima Madurai', cursive, sans-serif;
}