:root {
    
    --primary-color: linear-gradient(to right, #EFA541, #E74B06);
    --secondary-color: linear-gradient(to right, #D69967, #c5580a);
}


.btnadmin {
    background: var(--primary-color);
    color: black;
    text-transform: none;
}

