.backgroundBasket {
  margin: 10px auto 60px auto;
}

.logBasket {
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
}

.basketBox {
  padding: 10px 10px;
  background: #e8c07a60;
}

@media (max-width: 800px) {
  .basketBox {
    padding: 2px 0;
  }
  .logBasket {
    margin: 0;
  }
  .backgroundBasket {
    margin: 20px auto 100px auto;
    max-width: 600px;
  }
}

@media (max-width: 400px) {
  .backgroundBasket {
    margin: 20px auto 100px auto;
    max-width: 300px;
  }
}
