.backgroundBasket {
  margin: 5px 5px 60px;
}

.logBasket {
  margin: 0 auto;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
}

.basketBox {
  padding-left: 1px;
  background: #e8c07a60;
}
