.checkout-container {
  align-items: center;
  margin: 50px auto;
  padding: 5px;
  background-color: #fafafa;
  border: 1px solid #dca64780;
  border-radius: 10px;
}

.total {
  margin-top: 30px;
  font-size: 26px;
  text-align: end;
  padding: 10px;
}
.basketEmpty {
  margin: 50px auto;
  background: #e8c07a60;
  max-width: 320px;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
  padding: 5px;
  text-align: center;
}

.shopBtn {
  display: inline;
}

.checkoutBox {
  min-width: 260px;
  margin: 0 auto;
}
