
.cards{
    background: var(--primary-color);
    margin: 10px 15px;
    padding: 15px;
    

}
.post {
    width: 300px;
    height: 400px;
    margin-left: auto;
}

.post-img {
    height: 50%;
    border-radius:  5px 5px 0px 0px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.12);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.post-content {
    background: rgba(255, 255, 255, 0.69);
    border-radius: 0px 0px 10px;
    height: 150px;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.card-title {
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}

.card-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.ar {
    font-size: 18px;
    text-transform: uppercase;
}
