
.cards{
    background: var(--primary-color);
    display: flex;
    float: left;
    margin: 10px 20px;
    padding: 15px;
    align-items: center;
    min-width:max-content;

}


.post {
    width: 200px;
    height: 400px;
    box-sizing: border-box;
}

.post-img{
    height: 70%;
    
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.12);

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.post-content{
    background: white;
    border: 1px solid #42464a ;
    transform: translateY(-60px);

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 150px;
    
}

h4{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}


.card-title {
    background-color: aliceblue;
    height: 40px;
}



.card-title h2{
    color: #42464a;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.ar{
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

.cardactions {
    position: absolute;
    top: 90px;
    right: 20px;
}
