.flex-container-Check {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  text-align: center;
  max-width: 800px;
  border: 1px solid #dca64780;
  box-shadow: 4px 8px #dca64780;
  border-radius: 10px;
  border-top: 5px solid #cc7f06;
  margin: 20px auto;
  height: 280px;
}

.checkoutImg {
  width: 200px;
}

.desc-container {
  padding-top: 50px;
  flex: 60%;
  background-color: #e094116d;
}
.image-container {
  padding-top: 25px;
  flex: 40%;
  margin: auto;
}

.value {
  display: inline-flex;
  margin: 5px 5px;
  padding: 2px;
}

@media (max-width: 800px) {
  .desc-container,
  .image-container {
    flex: 60%;
    padding: 5px;
  }
  .flex-container-Check {
    max-width: 300px;
    height: auto;
  }
  .checkoutImg {
    height: auto;
  }
}
