.flex-container-datacard {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left-datacard {
  flex: 40%;
  margin-bottom: 20px;
  max-width: 300px;
}

.flex-item-right-datacard {
  flex: 40%;
  max-width: 300px;
}

@media (max-width: 800px) {
  .flex-item-right-datacard,
  .flex-item-left-datacard {
    flex: 100%;
  }
}
