.flex-container-datacard {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}

.flex-item-left-datacard {
  flex: 40%;
  margin-bottom: 5px;
}

.flex-item-right-datacard {
  flex: 40%;
}

@media (max-width: 800px) {
  .flex-item-right-datacard,
  .flex-item-left-datacard {
    flex: 100%;
  }
}
